html {
    font-family: 'Poppins', sans-serif;
    -webkit-text-size-adjust: auto;
    display: grid;
    
}

* {
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-weight: 100;
    font-size: 48px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}

a {
    color: white;
    /* text-transform: uppercase;
    */
}

a.logo {
    font-family: poppins;
    font-weight: 900;
    color: pink !important;
    cursor: pointer;
}

.nav {
    height: 8vh;
    background: rgba(55, 48, 163);
    padding: 10px 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(55, 48, 163);
    padding: 0 20px;
}

.nav li {
    float: left;
}

.nav .right {
    float: right;
}

.nav li a {
    display: block;
    padding: 8px;
    color: white;
    /* background-color: #dddddd;
    */
}

.nav li a:hover {
    opacity: 0.5;
}

#btn {
    padding: 10px 20px;
    margin-right: 10px;
    background: #969086;
    border: 1px solid rgba (rgba(76, 81, 191));
    border-radius: 3px;
    display: inline-block;
}

#btn:hover{
    border: 1px solid #efb052;
    border-radius: 3px;
    background: #efb052;
    transition: 0.5s;
}

.text-link {
    padding: 10px 20px;
    margin-right: 10px;
    background: none;
    border: 1px solid rgba (rgba(76, 81, 191));
    border-radius: 3px;
    display: inline-block;
}

.text-link:hover {
    border: 1px solid #969086;
    padding: 10px 20px;
    background: #969086;
    border-radius: 3px;
    transition: 0.5s;
}
.right:hover{
    border: 1px solid #69645d;
    border-radius: 3px;
    transition: 0.5s;
}
.cta a {
    text-decoration-style: dotted;
}

.right.cta {
    background: #efb054;
    border-radius: 3px;
}

.right.cta:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(136, 121, 121, 0.19);
    color: rgb(155, 62, 62);
}

/* layout for hero section - Create two equal columns that floats next to each other */
div.row {
    height: 45vh;
    background-color: rgba(76, 81, 191);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.column {
    justify-content: flex-start;
    width: 50%;
    padding: 45px;
}

.column-right {
    justify-content: flex-end;
    align-self: flex-end;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: grid;
    clear: both;
}

/* other Hero Section styles - text, images, spacing,colors */
.lead {
    margin-top: 1px;
}

.sub {
    margin-bottom: 40px;
}

div.cta {
    text-transform: uppercase;
    display: inline-block;
}


img.lead-img {
    width: unset;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8.5px;
    justify-items: end;
    /* positions the first image */
}

.lead-img:hover {
    border-radius: 8px;
    border: lightsalmon;
}

/* Styling for gallery section - layout*/
div.dog-gallery {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 1rem;
    grid-auto-flow: column;
    width: 100%;
    background-color: rgba(55, 48, 163);
    justify-content: space-evenly;
    align-content: space-between;
    grid-template-columns: auto ;
}

.desc {
    color: #fff;
    text-align: center;
    justify-content: center;
}

.dog-gallery:after {
    content: "";
    display: table;
    clear: both;
}

div.gallery1 {
    margin-top: 8px;
    flex: 50%;
    max-width: 50%;
    display: inline-block;
    padding: 4px 16px;
    flex-grow: 1;
}

div.gallery1:hover {
    border-radius: 1px;
    border-color: rgba(129, 140, 248);
    transform: scale(1.05);
    transition-duration: 0.5s;
}

div.gallery1 img {
    width: 496px;
    height: 30vh;
    object-fit: fill;
    border: 3px solid rgba(129, 140, 248);
    border-radius: 3px;
    border-color: rgba(129, 140, 248);
}

div.gallery2 {
    margin-right: 2px;
    border: none;
    max-width: 50%;
    flex: 50%;
    padding: 4px 16px;
    display: inline-block;
    flex-direction: row;
    flex-grow: 1;
}

div.gallery2:hover {
   border-radius: 1px;
    border-color: rgba(129, 140, 248);
    transform: scale(1.05);
    transition-duration: 0.5s;
}

div.gallery2 img {
    width: 496px;
    height: 30vh;
    border: 3px solid rgba(129, 140, 248);
    border-radius: 3px;
    border-color: rgba(129, 140, 248);
}

@media only screen and (max-width: 700px) {
    .dog-gallery {
        width: 24.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .dog-gallery {
        width: 100%;
        grid-auto-flow: row;
    }
}



/* nav 2 styling*/
footer {
    flex-basis: 500px;
    height: 14vh;
    width: 100%;
    grid-row: footer;
    grid-column: footer;
    background: rgba(49, 46, 129);
    padding: 10px 10px;
    justify-content: space-between;
    padding: 10px;
    color: rgba(129, 140, 248);
    bottom: 0;
}

.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(49, 46, 129);
    padding: 0 20px;
}

.nav2 li {
    float: left;
}

.nav2 .right2 {
    text-align: right;
    float: right;
}

.nav2 li a {
    display: internal;
    padding: 10px;
    color: white;

}

.nav2 li a:hover {
    opacity: 0.5;
}

#label-mail {
    width: 172px;
    height: 21px;
    font-size: 16px;
    line-height: 21px;
    color: var(--fontcolmini);
    margin-top: 0;
}

.form {
    margin-top: 1rem;
}

@media (min-width: 700px) {
    .form {
        margin-top: 2rem;
    }
}

.footer .form-input {
    display: flex;
    text-align: left;
    grid-template-columns: 1fr;
}


@media (min-width: 400px) {
    .form-input {
        display: flex;
        grid-template-columns: 1fr auto;
    }
}

.form-input {
    flex-grow: 1;
}

.email-input {
    box-sizing: border-box;
    height: 55px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.email-input[type="email"]:focus {
    background-color: lightblue;
}

.form-submit {
    background-color: #e79e15;
    color: indigo;
    border: 2px solid #e79e15;
    border-radius: 2px;
    box-sizing: border-box;
    height: 54px;
    float: inline-end;
    padding: 10px 19px;
    cursor: none;
    margin-left: -7px;
    position: flex;
}

.form-submit:hover {
    background-color: #e79e15;
    transition: 0.5s;
    border-radius: 5px;
    background: #422a06;
    border: 3px solid #e79e15;
}



@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
